@media only screen and (max-width: 640px) {

    #testimoniesPageContent {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    #testimoniesPageContent h1 {
        font-size: 2.88rem;
        color: #000;
        text-align: center;
        font-family: Verve;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #characterInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #testimoniesPageDescription {
        font-size: 1rem;
        color: #454545;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.176px;
        margin: 0 2rem 0 2rem;
    }

    #testimoniesSubjectImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #testimoniesChangeArrowsContainer {
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 210%;
    }

    #testimoniesChangeArrowsContainer img {
        width: 1.81rem;
        height: 0.94rem;
    }

    #testimoniesSubjectImage img {
        height: 26.50rem;
    }

    #testimoniesPageContent h2 {
        font-size: 3.44rem;
        color: #292D32;
        font-family: "Plus Jakarta Sans";
        font-size: 54.98px;
        font-style: italic;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.605px;
    }

    #subjectControlButtons {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    #subjectControlButtons button {
        width: 9.75rem;
        height: 2.88rem;
        border-radius: 1rem;
        border: none;

        font-size: 1rem;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #subjectControlButtons button:first-child {
        background: none;
        border: 1px solid #222506;
        color: #222506;
    }

    #subjectControlButtons button:last-child {
        background-color: #FE4F18;
        color: #FFF;
    }

    /* Modal Preguntas */

    #testimoniesPageModalQuestions {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.52);
        z-index: 4;
    }

    #testimoniesPageModalQuestionsContent {
        width: 80%;
        height: 90vh;
        background-color: #FFF;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        overflow-y: scroll;
    }

    #testimoniesPageModalQuestionsContent #closeIconDark {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 4rem;
        right: 4rem;
    }

    /* Preguntas Items */

    .testimoniesPageModalQuestionItem {
        width: 80%;
    }

    .testimoniesPageModalQuestionItem h2 {
        color: #2C2C2C;
        font-family: Montserrat;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 600;
        line-height: 100%;
        text-align: center;

        margin-top: 2rem;
    }
}