@media only screen and (max-width: 640px) {
    #selectCasePageBackground {
        width: 100%;
        height: 100%;
        z-index: -3;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #selectCasePageBackgroundOpacity {
        opacity: 0.69;
        background: #000;
        backdrop-filter: blur(20.149999618530273px);

        width: 100%;
        height: 110%;
        z-index: -2;
        position: absolute;
    }

    #selectCasePageBackground img {
        height: 100%;
    }

    #selectCasePage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #selectCasePage .marginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        z-index: 1;

        width: 100%;
        height: 100vh;
    }

    #selectCasePage h1 {
        font-size: 2rem;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Verve;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.2rem;
        text-align: center;
        width: 100%;
        /* 52px */

        margin-bottom: 10%;
        margin-top: 7%;
    }

    #selectCasePage #casesContainer {
        width: 80%;
        height: 50vh;
        background-color: #FFFFFF;
        border-radius: 1.38rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #selectCasePage #casesContainer h3 {
        font-size: 0.81rem;
        margin-bottom: 0.75rem;
        color: #454545;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.03rem;
    }

    #selectCasePage #casesContainer .caseImageContainer {
        width: 88%;
        height: 80%;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    #selectCasePage #casesContainer .caseImageContainer img {
        height: 100%;
    }

    #selectCaseNextButton {
        width: 9rem;
        height: 2.88rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        border: none;

        font-size: 1rem;
        color: #232323;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin-top: 5%;
    }
}