body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 640px) {
  .page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .backIconOrange {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 2.13rem;
    height: 2.13;
  }
}