body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 640px) {
  .page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}